/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: sans-serif;
    margin-top: 60px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    text-transform: uppercase;
}

/* utility */

.border {
    border: 2px solid black;
}

.flex {
    display: flex;
}

.red-text {
    color: #f00;
}

.line-throught {
    text-decoration: line-through;
}

.red-bg {
    background-color: #f00;
}

.green-bg {
    background-color: #008000;
}

/* header */

header {
    background-color: #ff6900;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    min-height: 60px;
    align-items: center;
    box-shadow: 0 0 5px black;
    z-index: 2;
}

.header-logo{
    height: 35px;
}

.navbar-menu {
    flex-basis: 15%;
    align-items: center;
}

.header-navbar {
    height: 100%;
}

.navbar-logo {
    flex-basis: 70%;
    justify-content: center;
}

.navbar-options {
    flex-basis: 15%;
    justify-content: end;
    align-items: center;
    color: white;
}

.fa-regular, .fa-solid {
    padding: 4px;
    cursor: pointer;
}

.navbar {
    list-style-type: none;
    justify-content: space-between;
    flex-basis: 100%;
}

/* main */

.row {
    padding: 50px 0;
    gap: 20px;
} 

.card {
    flex-basis: calc(100% / 3);
    background-color: #ff6900;
    position: relative;
}

.model-a {
    height: 100%;
    width: 100%;
}

.model-b {
    height: 100%;
    width: 100%;
    display: none;
}

.card:hover .model-b{
    display: block;
}
.card:hover .model-a{
    display: none;
}

.favourite {
    background-color: #fff;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;
}

.favourite > .fa-heart:hover {
    color: #f00;
}

.tags {
    color: #fff;
    padding: 3px 6px;
}

.discount-class {
    position: absolute;
    bottom: 30px;
    left: 0;
}

/* footer */

footer {
    margin-top: 30px;
    background-color: #1a1a1a;
}

.footer-content {
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

.utility-links {
    list-style-type: none;
}


.info {
    margin-right: 10px;
}

h2, h4 {
    color: #fff;
    margin-bottom: 10px;
}